In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
df = pd.read_csv('Virat-Kohli-International-Cricket-Centuries.csv')

In [3]:
df.shape

(80, 9)

In [4]:
df.head()

,No.,Runs,Against,Position,Innings,Venue,Ground,Date,Result
0,1,107,Sri Lanka,4,2,"Eden Gardens, Kolkata",Home,24-Dec-09,Won
1,2,102*,Bangladesh,3,2,"Sher-e-Bangla Cricket Stadium, Dhaka",Away,11-Jan-10,Won
2,3,118,Australia,3,2,"APCA-VDCA Stadium, Visakhapatnam",Home,20-Oct-10,Won
3,4,105,New Zealand,3,1,"Nehru Stadium, Guwahati",Home,28-Nov-10,Won
4,5,100*,Bangladesh,4,1,"Sher-e-Bangla Cricket Stadium, Dhaka",Away,19-Feb-11,Won

In [5]:
df.dtypes

No.          int64
Runs        object
Against     object
Position     int64
Innings      int64
Venue       object
Ground      object
Date        object
Result      object
dtype: object

In [6]:
df.columns

Index(['No.', 'Runs', 'Against', 'Position', 'Innings', 'Venue', 'Ground',
       'Date', 'Result'],
      dtype='object')

In [7]:
# Check for null values in the DataFrame
print(df.isnull())

      No.   Runs  Against  Position  Innings  Venue  Ground   Date  Result
0   False  False    False     False    False  False   False  False   False
1   False  False    False     False    False  False   False  False   False
2   False  False    False     False    False  False   False  False   False
3   False  False    False     False    False  False   False  False   False
4   False  False    False     False    False  False   False  False   False
..    ...    ...      ...       ...      ...    ...     ...    ...     ...
75  False  False    False     False    False  False   False  False   False
76  False  False    False     False    False  False   False  False   False
77  False  False    False     False    False  False   False  False   False
78  False  False    False     False    False  False    True  False   False
79  False  False    False     False    False  False   False  False   False

[80 rows x 9 columns]

In [8]:
# Summarize null values
print(df.isnull().sum())

No.         0
Runs        0
Against     0
Position    0
Innings     0
Venue       0
Ground      1
Date        0
Result      0
dtype: int64

In [9]:
#filling null vlues using forward fill method
df=df.fillna(method='ffill')
print(df.isnull().sum())

No.         0
Runs        0
Against     0
Position    0
Innings     0
Venue       0
Ground      0
Date        0
Result      0
dtype: int64

In [10]:
df

,No.,Runs,Against,Position,Innings,Venue,Ground,Date,Result
0,1,107,Sri Lanka,4,2,"Eden Gardens, Kolkata",Home,24-Dec-09,Won
1,2,102*,Bangladesh,3,2,"Sher-e-Bangla Cricket Stadium, Dhaka",Away,11-Jan-10,Won
2,3,118,Australia,3,2,"APCA-VDCA Stadium, Visakhapatnam",Home,20-Oct-10,Won
3,4,105,New Zealand,3,1,"Nehru Stadium, Guwahati",Home,28-Nov-10,Won
4,5,100*,Bangladesh,4,1,"Sher-e-Bangla Cricket Stadium, Dhaka",Away,19-Feb-11,Won
...,...,...,...,...,...,...,...,...,...
75,76,121,West Indies,4,1,"Queen's Park Oval, Port of Spain",Away,20-Jul-23,Drawn
76,77,122*,Pakistan,3,1,"R. Premadasa Stadium, Colombo",Neutral,11-Sep-23,Won
77,78,103*,Bangladesh,3,2,"Maharashtra Cricket Association Stadium, Pune",Home,19-Oct-23,Won
78,79,101*,South Africa,3,1,"Eden Gardens, Kolkata",Home,05-Nov,Won
79,80,117,New Zealand,3,1,"Wankhede Stadium, Mumbai",Home,15-Nov-23,Won

In [11]:
df['date'] = pd.to_datetime(df['Date'],errors= 'coerce')

In [12]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day

print(df)

    No.   Runs       Against  Position  Innings  \
0     1    107     Sri Lanka         4        2
1     2  102*     Bangladesh         3        2
2     3    118     Australia         3        2
3     4    105   New Zealand         3        1
4     5   100*    Bangladesh         4        1
..  ...    ...           ...       ...      ...
75   76    121   West Indies         4        1
76   77   122*      Pakistan         3        1
77   78   103*    Bangladesh         3        2
78   79   101*  South Africa         3        1
79   80    117   New Zealand         3        1

                                            Venue   Ground       Date Result  \
0                           Eden Gardens, Kolkata     Home  24-Dec-09    Won
1            Sher-e-Bangla Cricket Stadium, Dhaka     Away  11-Jan-10    Won
2                APCA-VDCA Stadium, Visakhapatnam     Home  20-Oct-10    Won
3                         Nehru Stadium, Guwahati     Home  28-Nov-10    Won
4            Sher-e-Bangla Cricket Stadium, Dhaka     Away  19-Feb-11    Won
..                                            ...      ...        ...    ...
75               Queen's Park Oval, Port of Spain     Away  20-Jul-23  Drawn
76                  R. Premadasa Stadium, Colombo  Neutral  11-Sep-23    Won
77  Maharashtra Cricket Association Stadium, Pune     Home  19-Oct-23    Won
78                          Eden Gardens, Kolkata     Home     05-Nov    Won
79                       Wankhede Stadium, Mumbai     Home  15-Nov-23    Won

         date    year  month   day
0  2009-12-24  2009.0   12.0  24.0
1  2010-01-11  2010.0    1.0  11.0
2  2010-10-20  2010.0   10.0  20.0
3  2010-11-28  2010.0   11.0  28.0
4  2011-02-19  2011.0    2.0  19.0
..        ...     ...    ...   ...
75 2023-07-20  2023.0    7.0  20.0
76 2023-09-11  2023.0    9.0  11.0
77 2023-10-19  2023.0   10.0  19.0
78        NaT     NaN    NaN   NaN
79 2023-11-15  2023.0   11.0  15.0

[80 rows x 13 columns]

In [14]:
df.drop('Date', axis=1)

,No.,Runs,Against,Position,Innings,Venue,Ground,Result,date,year,month,day
0,1,107,Sri Lanka,4,2,"Eden Gardens, Kolkata",Home,Won,2009-12-24,2009.0,12.0,24.0
1,2,102*,Bangladesh,3,2,"Sher-e-Bangla Cricket Stadium, Dhaka",Away,Won,2010-01-11,2010.0,1.0,11.0
2,3,118,Australia,3,2,"APCA-VDCA Stadium, Visakhapatnam",Home,Won,2010-10-20,2010.0,10.0,20.0
3,4,105,New Zealand,3,1,"Nehru Stadium, Guwahati",Home,Won,2010-11-28,2010.0,11.0,28.0
4,5,100*,Bangladesh,4,1,"Sher-e-Bangla Cricket Stadium, Dhaka",Away,Won,2011-02-19,2011.0,2.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...
75,76,121,West Indies,4,1,"Queen's Park Oval, Port of Spain",Away,Drawn,2023-07-20,2023.0,7.0,20.0
76,77,122*,Pakistan,3,1,"R. Premadasa Stadium, Colombo",Neutral,Won,2023-09-11,2023.0,9.0,11.0
77,78,103*,Bangladesh,3,2,"Maharashtra Cricket Association Stadium, Pune",Home,Won,2023-10-19,2023.0,10.0,19.0
78,79,101*,South Africa,3,1,"Eden Gardens, Kolkata",Home,Won,NaT,NaN,NaN,NaN
79,80,117,New Zealand,3,1,"Wankhede Stadium, Mumbai",Home,Won,2023-11-15,2023.0,11.0,15.0